
body{ 
    text-align: center;
    background-color: rgb(166, 235, 235);
}

#form{ 
    background-color: white;
    margin-top: 69px;
    margin-right: 90px;
    margin-bottom: 90px;
    margin-left: 90px;
    padding-left: 66px;
    padding-top: 22px;
}

#firstheading{ 
    padding-left: 360px;
    font-size:50px ;
}

h3{
    padding-left: 100px;
    font-size:30px ; 
    

}

#table{ 
    padding-left: 158px;
}

td{ 
    padding-top: 7px;
    padding-bottom:10px ;

}

button{ 
    background-color: rgb(6, 216, 216);
    height: 49px;
    width: 122px;
    margin-left: 340px;
    margin-top: 25px;
    margin-bottom: 30px;
}

input, select{ 
    padding:10px;
}